@use 'variables';
@use 'font';


.header {
    background-color: variables.$color2;
    color: black;   
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-family: font.$font-stack;
    text-shadow: 1px 0px variables.$color4;

    &:hover {
            color: variables.$color5;
            transition: color 0.3s ease;
        }
}

.banner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    color: white;

}

.img-hello {
    width: 2rem;
    height: 2rem;   
}

.description {
    color: white;
    line-height: 2rem; 
}

.img-test {
    display: none;
}

@media screen and (min-width: 960px) {
    .header {
        background: linear-gradient(to right, variables.$color6 35%, variables.$color4 35%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 3rem;   
    }

    .header__container-img {
        display: flex;
        justify-content: center;
    }

    .img-test {
        display: block;
        width: 26rem;
    }

    .banner {
        align-content: center;
    }
}