@use 'variables';
@use 'font';


.header {
    background-color: variables.$color2;
    color: black;   
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-family: font.$font-stack;
    text-shadow: 1px 0px variables.$color4;
}

.banner {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
}

.img-hello {
    width: 2rem;
    height: 2rem;   
}

.description {
    color: white;    
}